# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Database files
db.sqlite3

# Log files
*.log

# Static files
staticfiles/

# Media files
media/

# Virtual environment
venv/
.venv/

# .env file
.env